vscode 
############
.vscode
.vscode/

# terraform #
#####################
# Compiled files
*.tfstate
*.tfstate.backup

.tfplan

awskeynames.tf
terraform.tfvars

# Module directory
.terraform/

# keys - just in case; really should not be here but this is CYA territory #
#######################
*.pem

####MISC#####

#ignore log files
*.log

###
*.asc

